.btn {
    font-family: "Arial", Sans-serif;
}

.btn {
    width: 100%;
}

.th {
    align-content: center;
}

.label {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
}

.bodycontainer {
    max-height: 450px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
}

.table-scrollable {
    margin: 0;
    padding: 0;
}
