<div>
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">Cadastro de Atividades</h2>
            <p class="lead">Cadastro de atividades administrativas, ou em projetos executados pela equipe CDS Sinistro Auto.</p>
        </div>
    </div>
    <div class="container">
        <form name="cadastroAtividadeForm">
            <fieldset class="fieldSet">
                <legend>Informe os dados da atividade.</legend>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="tipoAtividadeSelect">Tipo de Atividade:</label>

                        <select class="form-control" name="idtipoatividade" ng-model="cadastroAtividadeController.atividade.idtipoatividade" ng-change="cadastroAtividadeController.limparTipoAtividade()">
                            <option value="" disabled>- Selecione -</option>
                            <option value="{{tipoAtividade.idtipoatividade}}" ng-repeat="tipoAtividade in cadastroAtividadeController.tipoAtividades">{{tipoAtividade.descricaotipoatividade}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="nomeatividade">Nome do Atividade:</label>
                        <input class="form-control" type="text" name="nomeatividade" ng-model="cadastroAtividadeController.atividade.nomeatividade" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="celulaSelect">C&eacute;lula da Atividade:</label>
                        <select class="form-control" name="celulaSelect" ng-model="cadastroAtividadeController.atividade.idcelula">
                            <option value="" disabled>- Selecione -</option>
                            <option value="{{celula.idcelula}}" ng-repeat="celula in cadastroAtividadeController.celulas">{{celula.nomecelula}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="responsaveloSelect">Respons&aacute;vel:</label>
                        <select class="form-control" name="responsavelSelect" ng-model="cadastroAtividadeController.atividade.idresponsavel">
                            <option value="" disabled>- Selecione -</option>
                            <option value="{{responsavel.idresponsavel}}" ng-repeat="responsavel in cadastroAtividadeController.responsaveis">{{responsavel.nomeresponsavel}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="cadastroAtividadeController.atividade.idtipoatividade==1">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="faseSelect">Fase:</label>
                        <select class="form-control" name="faseSelect" ng-model="cadastroAtividadeController.atividade.idfase">
                            <option value="" disabled>- Selecione -</option>
                            <option value="{{fase.idfase}}" ng-repeat="fase in cadastroAtividadeController.fases">{{fase.descricaofase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="numeroatividade">N&uacute;mero do Atividade:</label>
                        <input class="form-control" type="text" name="numeroprojeto" ng-model="cadastroAtividadeController.atividade.numeroatividade" ng-required='cadastroAtividadeController.atividade.idtipoatividade==1'>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-disabled="cadastroAtividadeForm.$invalid && !cadastroAtividadeForm.$touch" ng-hide="cadastroAtividadeController.isEdicao" ng-click="cadastroAtividadeController.addAtividade()">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                        </button>
                        <button type="submit" class="btn btn-primary" ng-disabled="cadastroAtividadeForm.$invalid && !cadastroAtividadeForm.$touch" ng-show="cadastroAtividadeController.isEdicao" ng-click="cadastroAtividadeController.updateAtividade()">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Confirmar Edi&ccedil;&atilde;o
                        </button>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <button type="button" class="btn btn-secondary" ng-click="cadastroAtividadeController.limparCadastro()">
                            <span class="glyphicon glyphicon-erase"></span> Limpar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bodycontainer scrollable">
                        <table class="table table-hover table-scrollable" ng-show="cadastroAtividadeController.atividades.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'nomeatividade' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">Nome Atividade
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomeatividade' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomeatividade' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'descricaotipoatividade' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">Tipo Atividade
                                            <span ng-show="cadastroAtividadeController.sortType == 'descricaotipoatividade' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'descricaotipoatividade' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>

                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'nomecelula' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">
                                            C&eacute;lula
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomecelula' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomecelula' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'nomeresponsavel' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">
                                            Respons&aacute;vel
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomeresponsavel' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'nomeresponsavel' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>

                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'descricaofase' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">
                                            Fase
                                            <span ng-show="cadastroAtividadeController.sortType == 'descricaofase' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'descricaofase' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn-link" ng-click="cadastroAtividadeController.sortType = 'numeroatividade' ; cadastroAtividadeController.sortReverse = !cadastroAtividadeController.sortReverse">
                                            N&uacute;mero Atividade
                                            <span ng-show="cadastroAtividadeController.sortType == 'numeroatividade' && !cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="cadastroAtividadeController.sortType == 'numeroatividade' && cadastroAtividadeController.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="atividade in cadastroAtividadeController.atividades | orderBy:cadastroAtividadeController.sortType:cadastroAtividadeController.sortReverse track by $index">
                                    <th class="col-md-2">
                                        {{atividade.nomeatividade}}
                                    </th>
                                    <td class="col-md-2">
                                        {{atividade.descricaotipoatividade}}
                                    </td>
                                    <td class="col-md-1">
                                        {{atividade.nomecelula}}
                                    </td>
                                    <td class="col-md-2">
                                        {{atividade.nomeresponsavel}}
                                    </td>
                                    <td class="col-md-1">
                                        {{atividade.descricaofase}}
                                    </td>
                                    <td class="col-md-2">
                                        {{atividade.numeroatividade}}
                                    </td>
                                    <td class="col-md-1 col-sm-1">
                                        <button type="button" class="btn btn-sm btn-default" ng-click="cadastroAtividadeController.editarAtividade(atividade)">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </td>
                                    <td class="col-md-1 col-sm-1">
                                        <button type="button" class="btn btn-sm btn-default" ng-disabled="!atividade.flagAtividadeAlocada" ng-click="cadastroAtividadeController.deleteAtividade(atividade.idatividade)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert alert-info">
            <p>message: {{cadastroAtividadeController.message}}</p>
            <p>idatividade: {{cadastroAtividadeController.atividade.idatividade}}</p>
            <p>idtipoatividade: {{cadastroAtividadeController.atividade.idtipoatividade}}</p>
            <p>nomeatividade: {{ cadastroAtividadeController.atividade.nomeatividade }}</p>
            <p>idcelula: {{ cadastroAtividadeController.atividade.idcelula }}</p>
            <p>idresponsavel: {{ cadastroAtividadeController.atividade.idresponsavel }}</p>
            <p>idfase: {{ cadastroAtividadeController.atividade.idfase }}</p>
            <p>numeroatividade: {{ cadastroAtividadeController.atividade.numeroatividade }}</p>
            <p>flagAtividadeAlocada: {{ !cadastroAtividadeController.atividade.flagAtividadeAlocada}}</p>
        </div>
    </div>
</div>
